<main class="Main-app">
  <h1> Añade una ciudad </h1>
  <section class="Section-app">
    <input [(ngModel)]="newCityName" placeholder="Nueva ciudad" />
    <button (click)="createCity()">Crear Ciudad</button>
  </section>

  <section class="Section2-app">
    <div class="Section2-Div-app" *ngFor="let city of cities">
      <div class="Section2-Div2-app" *ngIf="city.weatherData">
        <div class="Div-Weather">
          <h2> {{ city.name }}</h2>
          <img class="Button-Delete-app" src="/cross.svg" alt="Cross" (click)="deleteCity(city.id)"/>
        </div>
        <div class="Div-Weather">
          <p>{{ city.weatherData.weather[0].description }}</p>
          <p> {{ city.weatherData.main.temp }} °C</p>
        </div>
      </div>
    </div>
  </section>
</main>
